Repository ToriBench/wethink-central-application, pull requests merged in 2022-02, with the labels that each got.

#22 Creating all 4 Views
  Creating_all_Views.sql
Labels: View

#26 updating Creating_all_Views.sql table names to plural
  Creating_all_Views.sql
Labels: View

#33 Update Stored Procedures for all tables
  StoredProcedures/UpdateAllTablesPROC.sql
Labels: Stored Procedure

#65 Update CreateWeThinkDB.sql
  DDL/CreateWeThinkDB.sql
Labels: query

#71 Use Courses table
  DML/StoredProcedures/ProcDeleteAllTables.sql
  DML/StoredProcedures/ProcGetRequirementsNotMet.sql
  DML/StoredProcedures/ProcRequirementsForQual.sql
  DML/StoredProcedures/ProcStudentEligible.sql
  DML/StoredProcedures/ProcUpdateAllTablesPROC.sql
  DML/UserDefinedFunctions/FuncQualificationDuration.sql
  DML/Views/ViewCreatingAllViews.sql
Labels: update
